$dotSize = 40px

.item
    z-index: 1
    color: white
    font-size: 20px
    line-height: 45px
    margin-right: -22.5px
    flex-wrap: nowrap
    cursor: pointer

.title
    margin-right: 10px
    color: black
    opacity: 0.5

.children
    display: flex
    flex-direction: column
    margin-top: -5px

.child
    font-size: 16px
    line-height: 30px
    margin-right: -18px
    float: right
    .dotContainer
        width: 30px
        height: 30px
        margin-left: 5px
    .dotShadow
        left: 19px
        width: 11px
        height: 30px
    .dotShadow::after
        width: 30px
        height: 30px
        left: -19px
        border-radius: 30px
    .dot
        width: 20px
        height: 20px
        border-radius: 10px

.itemSelected.child
    .dot::after
        width: 14px
        height: 14px

.parent
    margin-right: 0
    text-align: right
    cursor: auto

.itemSelected
    .dot::after
        width: 22px
        height: 22px

.dotContainer
    margin-left: 10px
    width: $dotSize
    height: $dotSize
    display: inline-block
    position: relative
    vertical-align: middle

.dotShadow
    position: absolute
    top: 0
    left: 24px
    overflow: hidden
    width: 16px
    height: 40px

.dotShadow::after
    content: ''
    display: block
    position: absolute
    left: -24px
    width: $dotSize
    height: $dotSize
    background-color: #aaa
    border-radius: $dotSize

.dot
    position: absolute
    left: 0
    top: 0
    width: 30px
    height: 30px
    background-color: white
    border-radius: 20px
    z-index: 3
    margin: 5px
    vertical-align: middle
    display:flex
    justify-content: center
    align-items: center

.dot::after
    content: ''
    transition: all 0.1s;
    width: 6px
    height: 6px
    background-color: #007d7f
    display: block
    border-radius: 20px
    z-index: 10