html
    background-color: white
    padding: 0
    margin: 0
    font-family: 'Bitter', serif;

body
    margin: 0
    padding: 0
    overflow-y: scroll
    overflow-x: hidden

.container
    display: flex
    align-items: stretch
    min-height: 100%

.content
    flex-grow: 1
    min-width: 0