.item
    font-size: 1em
    margin-right: -20px
    margin-bottom: 5px
    cursor: pointer
    color: white;

.bubble
    vertical-align: middle;
    display: inline-block;
    position: relative;

.bubble:before
    z-index: 1;
    position: relative;
    width: 45px;
    height: 45px;
    background-color: #aaa;
    border-radius: 50%;
    content: '';
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.175, 1.885, 0.32, 1.275);

.bubble:after
    position: absolute;
    display: block;
    left: 5px;
    top: 5px;
    width: 5px;
    height: 5px;
    background-color: #00979d;
    border: 15px solid white;
    border-radius: 50%;
    content: '';
    z-index: 3;
    transition: width 0.2s, height 0.2s, border-width 0.2s, transform 0.3s cubic-bezier(0.175, 1.885, 0.32, 1.275);

.itemActive
    .bubble:after
        width: 25px;
        height: 25px;
        border: 5px solid white;

.item:hover
    .bubble:before
        transform: scale(1.2);
    .bubble:after
        transform: scale(1.2);

.label
    position: relative;
    z-index: 3;
    margin-right: 10px;

.itemContainer
    display: flex;
    flex-direction: column;
    align-items: flex-end;

.title
    font-size: 1.1em
    line-height: 45px
    color: black
    opacity: 0.5
    margin-right: 20px
    position: relative
    z-index: 2

.children
    display: flex
    flex-direction: column
    align-items: flex-end
    margin-top: -5px
    font-size: 0.85em

// second navigation layer
.itemContainer
    & .item .bubble
        &:after
            transform: scale(0.85)
        &:before
            transform: scale(0.85)
    & .item:hover .bubble
        &:after
            transform: scale(1)
        &:before
            transform: scale(1)
    & .label
        margin-right: 5px