.container
    display: block
    z-index: 1

.title
    font-size: 16px
    font-weight: bold
    margin-bottom: 1em

.language
    font-size: 14px
    line-height: 30px
    cursor: pointer
    padding-left: 1em
    @media screen and (max-width: 1400px) {
        width: 34px
        height: 24px
        overflow: hidden
        margin: 10px 0
    }

.language:hover
    text-decoration: underline

.flag
    height: 20px
    vertical-align: middle
    margin-right: 10px
    border: 2px solid black
    border-radius: 5px

.activated
    @extends .language
    display: none

.deactivated
    @extends .language
    display: block