.container
    position: relative;
    margin-top: 40px;
    left: -83px;
    margin-bottom: 20px;

.profile
    display: inline-block;
    position: relative;
    margin-right: 20px;
    vertical-align: middle;

.profile:after
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 150px;
    height: 150px;
    left: -5px;
    top: -5px;
    border-radius: 50%;
    border: 5px solid #aaa;

.photo
    z-index: 3;
    position: relative;
    border-radius: 155px;
    border: 5px solid #fff;
    box-sizing: border-box;
    background-color: #fff;
    width: 150px;
    height: 150px;

.title
    display: inline-flex;
    flex-direction: column;

.name
    font-size: 40px;
    font-weight: 700;

.job
    font-size: 25px;
    color: #666;